<div class="container d-flex justify-content-center align-items-center" style="height: 300px;">
<div class="wrapper-cc">
  <h1 class="wrapper-cc-h1">coming soon<span class="dot-cc">.</span></h1>


 </div>
</div>