@import '~@tarekraafat/autocomplete.js/dist/css/autoComplete.01.css';
.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    main {
        flex-grow: 1;
        background-color: #fbfafc;
    }
}

a {
    color: #6402c6;
    text-decoration: none;
    background-color: transparent;
}

.bg-white {
    background-color: #fff!important;
}

.text-blue {
    color: #6402c6 !important;
}
.text-white{
    color: #fff !important
}
.mb-40{
    margin-bottom: 40px !important;
}
.mt-30{
    margin-top: 30px !important;
}
.p-10{
    padding: 10px !important;
}
.img-fluid{
    width:100% !important
}

.fs-12 {
    font-size: 12px!important;
}

.fs-14 {
    font-size: 14px!important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px!important
  }

.font18 {
    font-size: 18px!important;
}

.card-border {
    border: 1px solid #f5f5f5;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.width135 {
    width: 135px;
}

.bg-light-green {
    background-color: #f4f5e7!important;
}

.bg-gray {
    background-color: #f2f2f2 !important;
}

.text-green {
    color: #20C997!important;
}

.text_green_over {
    color: #20C997!important;
}
.text_gray_over {
    color: gray !important;
}
.bg-purple{
    background:#6402c6 !important
}

.sub-text {
    color: #a2a2a2;
}

.logs-hash {
    line-height: 24px !important;
}

.green-backdrop {
    background-color: rgb(116, 98, 4);
    background-color: linear-gradient(50deg, rgba(116, 98, 4, 1) 7%, rgba(104, 126, 57, 1) 77%, rgba(119, 145, 66, 1) 100%);
}

.bg-green {
    background-color: #757219;
}

.mt-n40 {
    margin-top: -40px;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.rounded {
    border-radius: 0.5rem !important;
}

.rounded-right {
    border-top-right-radius:  0.5rem !important;
    border-bottom-right-radius:  0.5rem !important;
}

.bg-brown {
    background-color: #3e3f06!important;
}

.shadow {
    box-shadow: 1px 0px 13px -4px rgb(190 190 190 / 75%);
    -webkit-box-shadow: 1px 0px 13px -4px rgb(190 190 190 / 75%);
    -moz-box-shadow: 1px 0px 13px -4px rgb(190 190 190 / 75%);
}

.border-right-sm1 {
    border-right: 1px solid #dee2e6;
}

.border-right-sm2 {
    border-right: 1px solid #dee2e6;
}

.border-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}


.radius-50 {
    border-radius: 50%;
}
.p-20{
    padding: 20px !important;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.tb-width{

    height:400px
}

.media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.text-cyan {
    color: #20d0b2;
}

.dashboard-data {
    color: #2c2828;
    display: block;
    font-size: .9375rem!important;
    font-weight: 200;
    white-space: nowrap;
    line-height: 1.5;
}

.dashboard-banner-network-stats-label {
    color: #a7a7a7!important;
    display: block;
    white-space: nowrap;
}
.dark-theme-applied .dashboard-banner-network-stats-label {
    color: #8c96a5!important;
}

.fixed-layout {
    table-layout: fixed;
}

.sno_col {
    width: 50px!important;
}
.text-center{
    text-align: center;
}
// .dashboard-banner-chart canvas {
//     -webkit-filter: brightness(0) invert(1) !important;
//     filter: brightness(0) invert(1) !important;
// }
.btn-icon {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 0;
    font-size: .875rem;
    width: 2.73438rem;
    height: 2.73438rem;
    padding: 0;
    color: #77838f;
    background: rgba(119, 131, 143, .1);
    border-color: transparent;
    font-weight:bolder;
}
.loader-height{
    height: 50px !important;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-credits{
    display: none !important;
    color:transparent !important
}
// .highcharts-series-0{
//     display:none !important ;
// }
.btn-icon-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1e2022!important;
}
.chart-blocscout-title{
    background: #fce18569;
    padding: 20px;
}

//statistics data 
.stats-tabs{
    padding: 0px 10px;
}

.stats-tabs span {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  .stats-tabs span:hover {
    background-color: #6700c1;
    color: #fff;
  }
 

  .stats-card-header {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
  }

  .overview-container, .transact-container, .tok-container {
    /* background-color: rgb(240, 240, 240); */
    padding: 20px 10px;
    margin: 20px 0;
  }
  .hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #e7eaf3;
  }
  .card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.75rem;
  }
  .src-2,.src-1{
    max-height: 500px;
    overflow: auto;
    text-align: start;
  }
  .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center;
  }
  .media-body {
    -ms-flex: 1;
    flex: 1;
  }
  #diffoutput{
    max-height:500px;
    overflow: auto;

  }
  #txtSearchContract-1,  #txtSearchContract-2{
    height:50px
  }
  #heroSubscribeButton,  #heroSubscribeButton-2{
    height:50px
  }

/* styles.css */
#messageContainer {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
  }
  
  #messageInput {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  #sendButton {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .functionality-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .functionality-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  

  
  .wrapper-cc {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    animation: fadeIn 1000ms ease;
    -webkit-animation: fadeIn 1000ms ease;
    
  }
  
  .wrapper-cc-h1 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    line-height: 1;
    font-weight: 700;
  }

  @keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  @-webkit-keyframes fadeIn {
    from {top: 20%; opacity: 0;}
    to {top: 100; opacity: 1;}
    
  }
  
  .dot-cc {
    color: #4FEBFE;
  }
  

.footer-link {
    color: #dcdbdd!important;
}

.custom-arrow-select {
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 151.717'%3E%3Cpath d='M115.285 147.693L4.025 36.433a13.739 13.739 0 0 1 0-19.431L17.002 4.025a13.74 13.74 0 0 1 19.408-.023l88.591 88.176 88.59-88.176a13.74 13.74 0 0 1 19.408.023l12.977 12.981a13.739 13.739 0 0 1 0 19.431l-111.26 111.256a13.741 13.741 0 0 1-19.432 0z' fill='%2377838f'/%3E%3C/svg%3E") no-repeat right 1rem center;
    background-size: 10px 15px;
}

.custom-select {
    display: inline-block;
    width: 100%;
    padding: 0.45rem 2rem 0.45rem 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    vertical-align: middle;
    border: 1px solid #d5dae2;
    border-radius: .35rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.text-brown {
    color: #6b6c17!important;
}

.pagination-container .pagination .page-link {
    color: #fff!important;
    background-color: #333!important;
    border: 1px solid #222!important;
    font-weight: 400!important;
    height: 26px!important;
}

.page-link:focus {
    box-shadow: none!important;
}

.pagination-container .pagination .page-link:not(.no-hover):hover {
    background-color: #6402c6!important;
    border: 1px solid #6402c6!important;
    color: #333!important;
}

.pagination-container .pagination .page-link[disabled] {
    background-color: #666;
    border: 1px solid #666;
    color: #76787e;
}

.progress-bar {
    background-color: #afb935;
}

.btn-green {
    background: #F4F5E7!important;
    color: #20c997!important;
    font-size: 12.5px;
}

.btn-green:hover {
    background: #acaf85!important;
    color: #fff!important;
}

.btn-lighter {
    color: #f8f9fa;
    background: rgba(248, 249, 250, .1);
    border-color: transparent;
}

.btn-lighter:hover {
    color: #333;
    background: rgba(248, 249, 250, 1);
    border-color: transparent;
}
.dark-theme-applied .btn-light {
    background-color: #222!important;
}

.social-btn-icon a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px
}

.list-inline-item {
    display: inline-block;
}

.social-btn-icon {
    display: inline-block;
    vertical-align: top;
    position: relative;
    line-height: 0;
    font-size: 0.175rem;
    width: 1.63438rem;
    height: 1.63438rem;
    border-radius: 50%;
    padding: 0;
    color: #fff;
    background: rgb(213 221 229 / 10%);
    border-color: transparent;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-social ul li {
    float: left;
    margin-left: 10px;
}

.footer-social ul li a {
    color: #eee;
}

.footer-social ul li a:hover {
    color: #fff;
    text-decoration: none
}

.heading_border {
    position: relative;
    padding-bottom: .5rem;
}

.heading_border:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    border-bottom: 1px solid #464647;
}

.footer-link:hover {
    text-decoration: none!important;
}

.height38 {
    height: 38px!important
}

.alert-link {
    font-weight: normal!important;
}

.alert-info .alert-link {
    color: #062c33!important;
}

.page-title {
    font-size: 1.3rem;
    // color: #20c997;
    line-height: 2rem;
    padding: 20px 0;
    position: relative;
    padding-bottom: .5rem;
}

.page-title h1 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

.page-title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    // border-bottom: 1px solid #e7eaf3;
}

.label_warning {
    color: #db9a04;
    background-color: rgba(219, 154, 4, .1);
}

.label_brown {
    color: #919369;
    background-color: #e4e6cc;
}

.custom_label {
    display: inline-block;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.3;
    padding: .625rem 1.125rem;
    border-radius: 6.1875rem;
    transition: .2s ease-in-out;
}

.custom_label_sm {
    font-size: .76562rem!important;
    padding: .4rem .7rem!important;
}

.rounded-lg {
    border-radius: .35rem!important;
}

.custom_height {
    height: 0.2rem!important;
}

.smallRow {
    width: 80px;
}

.tb_col_w200 {
    width: 250px;
}

.width200 {
    width: 180px;
}

.table {
    width: 100%;
    // max-width: 100%;
    margin-bottom: 1rem;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: baseline;
    border-top: 1px solid #eceeef!important;
    white-space: nowrap;
}

.table tbody+tbody {
    border-top: 2px solid #eceeef;
}

.table .table {
    background-color: #fff;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #eceeef;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #eceeef;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-active,
.table-active>th,
.table-active>td {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-hover .table-active:hover>td,
.table-hover .table-active:hover>th {
    background-color: rgba(0, 0, 0, 0.075);
}

.table-success,
.table-success>th,
.table-success>td {
    background-color: #dff0d8;
}

.table-hover .table-success:hover {
    background-color: #d0e9c6;
}

.table-hover .table-success:hover>td,
.table-hover .table-success:hover>th {
    background-color: #d0e9c6;
}

.table-info,
.table-info>th,
.table-info>td {
    background-color: #d9edf7;
}

.table-hover .table-info:hover {
    background-color: #c4e3f3;
}

.table-hover .table-info:hover>td,
.table-hover .table-info:hover>th {
    background-color: #c4e3f3;
}

.table-warning,
.table-warning>th,
.table-warning>td {
    background-color: #fcf8e3;
}

.table-hover .table-warning:hover {
    background-color: #faf2cc;
}

.table-hover .table-warning:hover>td,
.table-hover .table-warning:hover>th {
    background-color: #faf2cc;
}

.table-danger,
.table-danger>th,
.table-danger>td {
    background-color: #f2dede;
}

.table-hover .table-danger:hover {
    background-color: #ebcccc;
}

.table-hover .table-danger:hover>td,
.table-hover .table-danger:hover>th {
    background-color: #ebcccc;
}

.thead-inverse th {
    color: #fff;
    background-color: #292b2c;
}

.thead-default th {
    color: #464a4c;
    background-color: #eceeef;
}

.table-inverse {
    color: #fff;
    background-color: #292b2c;
}

.table-inverse th,
.table-inverse td,
.table-inverse thead th {
    border-color: #fff;
}

.table-inverse.table-bordered {
    border: 0;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
    border: 0;
}

// .table-head {
//     background-color: #f4f5e7;
// }

.btn-teal {
    color: #00c9a7;
    background: rgba(0, 201, 167, .1);
    border-color: transparent;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 200px;
    transition: ease-out 0.3s;
}

.scroll_box .hide_for_homepage {
    display: none
}

.show_for_hompage:not(.scroll_box .show_for_hompage) {
    display: none;
}

.join {   
    background:linear-gradient(50deg, #009688 0%, #8BC34A 77%, #8BC34A 100%);
    padding: 2px 5px;
    color: #333;
    font-size: 10px;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold
}

.overflow-auto {
    overflow: auto;
}

.card-tab {
    color: #333!important;
    height: 45px!important;
}

.card-tab.active {
    color: #6402c6!important;
    border-bottom: 2px solid #6402c6;
    background: transparent!important;
}

.dropdown-item {
    color: #333!important;
    font-size: 13px!important;
}

.dark-theme-applied .btn-dark {
    color: #fff !important;;
    background-color: #343a40 !important;
    border-color: #343a40  !important;;
}

.dark-theme-applied .dashboard-data {
    color: #ffffff!important;
}

.dark-theme-applied .search_backdrop {
    background: #111111;
    color: #6402c6;
}

.dark-theme-applied .card {
    background-color: #212121!important;
    box-shadow: 0 0.5rem 1.2rem hsl(0deg 0% 100% / 4%)!important;
    border-color: #323232!important;
}

.card-header {
    color: #111b36;
    font-weight: 600;
    letter-spacing: 0.3px;
    // font-size: 13px;
}

.card-header:first-child {
    border-radius: .75rem .75rem 0 0;
}
.card-footer:last-child {
    border-radius: 0 0 .75rem .75rem;
}

.card-footer {
    background: #fff;
    color: #333;
}

.dark-theme-applied .card-header {
    background: #242424;
    border-bottom: 1px solid #3e3c3c;
    color: #eee;
    font-weight: bold;
}

.dark-theme-applied .bg-light-green {
    background: #242424!important;
}

.dark-theme-applied .card-footer {
    background: #242424;
    border-bottom: 1px solid #3e3c3c;
    color: #eee;
}

.dark-theme-applied .btn-icon,
.dark-theme-applied .btn-icon-inner {
    color: #eee!important;
}

.dark-theme-applied .bg-gray {
    background-color: #2e2e2e !important;
}

.dark-theme-applied .btn-green {
    background: #42442a !important;
    color: #20c997 !important;
}

.dark-theme-applied .btn-green:hover {
    background: #545633 !important;
    color: #fff !important;
}

.dark-theme-applied .table th,
.dark-theme-applied .table td {
    border-top: 1px solid #363a3c !important;
}

.dark-theme-applied .custom-select {
    color: #b3b3b3;
    border: 1px solid #3d3f42;
    background: #444;
}

.dark-theme-applied .dashboard-banner-chart>canvas {
    filter: brightness(1.3) contrast(0.5);
}

.dark-theme-applied .border-right-sm1,
.dark-theme-applied .border-right-sm2 {
    border-right: 1px solid #424242;
}

.sub-footer-top-border {
    border-top: 1px solid #464647;
}

.dark-theme-applied .sub-footer-top-border {
    border-top: 1px solid #434435;
}

.dark-theme-applied .heading_border:after {
    border-bottom: 1px solid #434435;
}

.dark-theme-applied .table-head {
    background-color: #353434;
}

// .dark-theme-applied .table thead th {
//     border-bottom: 2px solid #3e3e3e;
// }

.dark-theme-applied .table {
    color: #bdbdbd;
}

.dark-theme-applied .page-title:after {
    border-bottom: 1px solid #484845;
}

.dark-theme-applied .label_warning {
    color: #db9a04;
    background-color: rgb(82 82 82 / 41%);
}

.dark-theme-applied .label_brown {
    color: #919369;
    background-color: #4c4c46;
}

.chart_area_header .dropdown-toggle::after {
    display: none
}

.chart_area_header .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.dark-theme-applied .chart_area_header .btn-light {
    color: #ccc;
    background-color: #333;
    border-color: #333;
}
.dark-theme-applied .search-form .bg-white {
    background-color: #333!important;
}
.dark-theme-applied .navbar-nav .bg-white {
    background-color: #333!important;
}
.dark-theme-applied .navbar-nav .border {
    border: 1px solid #444546 !important;
}

.dark-theme-applied .custom-arrow-select {
    background: #333 url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 250 151.717'%3E%3Cpath d='M115.285 147.693L4.025 36.433a13.739 13.739 0 0 1 0-19.431L17.002 4.025a13.74 13.74 0 0 1 19.408-.023l88.591 88.176 88.59-88.176a13.74 13.74 0 0 1 19.408.023l12.977 12.981a13.739 13.739 0 0 1 0 19.431l-111.26 111.256a13.741 13.741 0 0 1-19.432 0z' fill='%2377838f'/%3E%3C/svg%3E") no-repeat right 1rem center;
    background-size: 10px 20px;
}

.dark-theme-applied .bs-label {
    background: #3c3c27;
    color: #ccc!important;
}

.dark-theme-applied .page-number {
    border-color: #686868!important;
    background-color: #555758!important;
}

.dark-theme-applied .bg-light {
    background-color: #3c3c3c !important;
}

.dark-theme-applied .navbar.navbar-primary .form-control {
    background: #333!important;
    border-color: #444!important;
    color: #828ba0;
}

.dark-theme-applied .bg-brown {
    background-color: #6f701c !important;
}

.dark-theme-applied .card-tab {
    color: #ccc !important;
    height: 45px !important;
}


.dark-theme-applied .navbar-image img {
    filter: brightness(2.7) contrast(1.1);  
  }

#scrollupbtn {
    display: inline-block;
    background-color: #333;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 10px;
    -webkit-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    -o-transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#scrollupbtn i {
    font-size: 2em;
    line-height: 50px;
    color: #ffffff;
}

#scrollupbtn:hover {
    cursor: pointer;
    background-color: #333333;
}

#scrollupbtn:active {
    background-color: #555555;
}

#scrollupbtn.show {
    opacity: 1;
    visibility: visible;
}

.footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 25px;
    height: 25px;
    padding: 6px;
    border-radius: 50%;
    color: #fff!important;
    background: #eeeeee2e;
    margin: 0 5px;
    text-align: center;
    transition: .3s ease-in-out;
}

.footer-social a:hover {
    color: #333!important;
    background: #fff;
    text-decoration: none
}

a.footer-link:hover {
    color: #fff!important;
}

.card {
    box-shadow: 0 .5rem 1.2rem rgba(189, 197, 209, .2)!important;
}

.mobile_arrow {
    position: absolute;
    right: 6px;
}

.page-number {
    border-color: #E4E6CC!important;
}
  
.navbar { 
    box-shadow: none !important;
  }  
  
input::placeholder {
    color: #767676!important;
    font-size:0.9rem!important;
    font-weight:400;
    }
input:-moz-placeholder {
    color: #767676;
    font-size:0.9rem!important;
    font-weight:400;
    }
input::-moz-placeholder {
    color: #767676;
    font-size:0.9rem!important;
    font-weight:400;
    }
input.nosubmit {
    border: 1px solid #555;
    width: 100%;
    padding: 0 20px 3px 40px;
  }
  
.dark-theme-applied  input::placeholder {
    color: #666!important;
    font-size:0.9rem!important;
    font-weight:400;
    }
  
.fs-10 {
    font-size:10px!important
  }
  
.display_flex {
    display: flex;
    justify-content: space-between;
  }
  
.header-searchbar .input-group-append {
   position: unset!important;
   transform:unset!important;  
  }
  
.navbar.navbar-primary .form-control {
    background: #fff!important;
    border-color: #dfdfdf!important;
    color: #828ba0;  
  }
  
.navbar.navbar-primary .height38 {
      height: 37px!important;
  }

.navbar.navbar-primary .input-group-text {
    height: 37px!important
  
  }
  
.header-searchbar .search-form {
    margin-top: 0!important
  }
  
.navbar.navbar-primary .form-control {
    padding-left:10px!important
  }
  
.dark-theme-applied .card-tab {
    color: #ccc!important
  }

.search-form input:focus {
    outline:none!important
  }

.autoComplete_wrapper > ul {
    width:105%
  }


.card {  
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e7eaf3!important;
    border-radius: 0.75rem!important;
   
  }
  
  dl {  
    margin-bottom: 0!important;
    // border-bottom:1px solid #eee;
    padding:5px 0;
  }
  dl:last-child {  
    border-bottom:none!important
  }
  
  .text-grey {
    color: #ccc;
  }
  
//   .icons_btns {
//     color: #77838f;
//     background: rgba(119,131,143,.1);
//     border-color: transparent;
//     font-size: .71531rem;
//     width: 1.75rem;
//     height: 1.75rem;
//     border-radius: 50%!important;
//     padding: 0!important;
//   }
  .icons_btns:hover{
    color: rgb(8, 116, 167)
  }
  
  .inner_icon {
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
  }
  
  .custom_drpdwn.dropdown-toggle::after {
    display:none
  }
  
  .tooltip.show {
    opacity: 1!important;
  }
  
  .dark-theme-applied dl {
    border-bottom: 1px solid #303030;
  }
  
  .badge-warning {
    color: #db9a04!important;
    background-color: rgba(219,154,4,.2)!important;
  }
  
  .dark-theme-applied .custom_drpdwn.btn-light {
    color: #ccc;
    background-color: #333;
    border-color: #333;
  }
    
  .icon_align {
    position:relative; 
    top:0;
    margin-left:10px;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e7eaf3!important;
    color: #6c757e!important;
    // font-size: 13px;
}
.Output_section_contract_search{
    display: none;
}

  .dark-theme-applied .home-search {
    background: #333;
}
.dark-theme-applied .header-searchbar .home-search {
    background: transparent!important;
}

.dark-theme-applied .sticky-top {
   background: #1c1c1c;
}
.dark-theme-applied .header-searchbar .form-control {
    border-radius: .5rem!important;
    background-color: #333;
}



.gasPricePlaceHolder {
    padding-left: 10px
  }
  .home-search {
    padding: 5px;
    background: #fff;
    border-radius: .5rem
  }
  
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
    background: #fff;
  }
  .group-hover {
      opacity: 0;
      pointer-events: none;
  }
  .group:hover .group-hover {
      opacity: 1;
      pointer-events: all;
  }
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
      color: #fff !important;
      background-color: #6402c6!important;
      border-color: #6402c6!important;
      box-shadow: none!important;
  }
  
  .add_icon_btns i {
      position: relative;
      top: 20%; 
      font-size: 13px;
  }

  .add_icon_btns .cpyqr_outer_btn {
    background: #EBEDF0;
    padding: 0;
    border-radius: 50%!important;
    width: 30px;
    height: 30px;
  }
  
    .copy_btn_div {
        background: #9e9e9e;
        padding: 5px 7px;
        border-radius: 50%!important;
        color: #fff!important;
}
  
//   .custom_pills.nav-pills .nav-link.active {
//       background-color: #20c997;
//       color:#fff!important;
//   }
  
//   .custom_pills .nav-item {
//       margin: 5px;
//   }
  
//   .custom_pills .nav-link {   
//       background: #E9ECEF;
//       color:#444!important;
//       font-weight: 600;
//       font-size: 0.8rem;
//       border-radius: 10px;
//       padding: 5px 10px;
//       letter-spacing: 0.3px;
//   }
  
  .bg-opacity-15 {
      opacity: .15;
  }
  
  .border-opacity-25 {
      opacity: 0.25;
  }
  .text-yellow-600 {
      color: #cc9a06!important;
  }
  .border-warning {
      border-color: #f7c7385e!important;
  }
  .border-success {
      border: 1px solid #15bba647 !important;
  }
  
  .tooltip.bs-tooltip-left .arrow::before {
      border-top-color: rgba(43, 86, 151, 0);
      border-bottom-color: rgba(18, 22, 28, 0);
  }
  
  .btn {
    border-radius: .375rem!important;
  }
  
  .divider_hr {
    margin:20px 0;
    border-color:#ebebeb;
  }
  
  .cursor-pointer{
    cursor: pointer;
  }
  
  .dark-theme-applied .custom_pills .nav-link {
      background: #393b3c;
      color: #e1dfdf!important;    
  }
  
  .dark-theme-applied .dark-mode-changer-btn:hover:before {  
    background: transparent!important
  }
  
  .dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link.active:before,
  .dark-theme-applied .navbar.navbar-primary .navbar-nav .nav-link:hover:before {
      background-color: #6402c6;
  }
  
  .dark-theme-applied .tooltip .arrow:before {
      border-top-color: transparent!important;
      border-bottom-color: transparent!important;
  }
  
  .dark-theme-applied .bs-tooltip-left .arrow::before,
  .dark-theme-applied .bs-tooltip-auto[x-placement^=left] .arrow::before {   
      border-left-color: #6402c6!important;
  }
  
  .table-head {
    background-color: rgb(103 0 193 / 11%);
  }
  
  dl {
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }


.header-searchbar select {
    display:none
  }
  .header-searchbar .form-control {
    border-radius: .5rem!important;
    background-color: #F8F9FA
  }
  
  .search_backdrop  .search_icon_start {
    display:none
  }

  
  .search_backdrop .form-control {
    border: 0!important
  }
  
  .header-searchbar .input-group-append {
    display:none
  }
  .header-searchbar .autoComplete_wrapper > input {   
      padding-left: 30px!important;  
  }
   .dark-theme-applied .bs-label {   
      border: 1px solid #5a5a5a!important;
  }

  #chart {
    max-width: 650px;
    margin: 35px auto;
  }

     
  @media screen and (min-device-width: 769px) and (max-device-width: 992px)  {   
  .table {
    width: 226% !important;
  }
  }
  
  @media screen and (min-device-width: 993px) and (max-device-width: 1200px)  {   
    .table {
      width: 126% !important;
    }
    }



@media screen and (max-device-width: 480px) {
    .hide_on_xs {
        display: none
    }
  
   
    .dashboard-data {
        white-space: normal!important
    }
}

@media only screen and (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}


@media only screen and (max-device-width: 640px) {
  
    .display_flex {
      display: inline-block!important;
      justify-content: unset;
    }
    .header-searchbar .form-control {
      width:30%!important;
    }
    // .header-searchbar .main-search-autocomplete {
    //   width:30%!important;
    // }
    }  
  
    
  @media only screen and (min-device-width: 641px) and (max-device-width: 1199px)  {    
      .header-searchbar .form-control {
        width:50%!important;
      }   
  } 


@media screen and (min-device-width: 290px) and (max-device-width: 768px) {

    .topnav-nav-link.dropdown-toggle:after {
      position: absolute;
      right: 0;
    }
    .mb-sm {
        margin-bottom: 15px;
    }
    .pb-sm {
        padding-bottom: 15px;
    }
    .border-bottm-sm {
        border-bottom: 1px solid #dee2e6;
    }
    .border-right-sm1,
    .border-right-sm2 {
        border-right: 0 !important;
    }
    .table {
        width: 426% !important;
    }
    .home_page_tble table {
       width: 180%!important;
    }

    .width_full_new{
        width:100% !important
    }
    .mb-40{
        margin-bottom: 25px !important;
    }
    .title-head{
        font-size: 25px !important;
    }
}




@media only screen and (min-device-width: 240px) and (max-device-width: 991px) {
    .width_full {
        width: 100%;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        width: 100%;
        box-shadow: none;
    }
}

@media only screen and (min-device-width: 991px) {
    .navbar .dropdown-menu {
        width: 250px;
        border-top: 3px solid #6402c6 !important;
    }
    .header-nav-separator {
        border-left: 1px solid #e7eaf3;
        width: 1px;
        height: 20px;
    }
}

@media screen and (max-device-width:991px) {
    .topbar_search {
        width:100%    
      }
    .custom_navbar .dropdown-toggle::after {
        display: none
    }
    .navbar .dropdown-menu {
        border-left: 3px solid #20c997;
        border-top: none!important;
    }
}


@media only screen and (min-device-width: 769px) and (max-device-width: 992px) {
    .border-right-sm2 {
        border-right: none!important
    }
    .media .media_icon {
        margin-right: 0!important;
        width: 35px!important;
    }
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1199px) {
    .dashboard-data {
        font-size: .9375rem!important;
        white-space: normal!important;
        line-height: 1.5;
    }
    .dashboard-banner-network-stats-label {
        color: #767676!important;
        display: block;
        white-space: normal;
        font-size: 12px;
    }
    .width135 {
        width: 105px;
    }
    .tb-width{
        max-width:1200px;

    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1400px !important;
    }
 
}

@media only screen and (min-device-width: 992px) and (max-device-width: 1390px) {
    .hide_fee_reci {
        display: none
    }
}




