<div class="text-nowrap-small-screen row mt-3 mt-sm-0" data-test="token_transfer">
  <span class="col-xs-12 col-lg-4 ml-3 ml-sm-0">
    <%= render BlockScoutWeb.TransactionView, "_total_transfers.html", Map.put(assigns, :transfer, @token_transfer) %>
  </span>
</div>
