<section data-page="contract-verification-choose-type" class="container card mt-30">
<script defer src="<%= static_path(@conn, "/js/stats-chart2.js") %>"></script>
<div id="chartContainer2"></div>
</section>
