<span
    class="overview-title-item--"
    data-target="#qrModal"
    data-toggle="modal"
    >
    <span
        class="btn-qr-icon-- btn icons_btns"
        data-toggle="tooltip"
        data-placement="top"
        title='<%= gettext("QR Code") %>'
        aria-label='<%= gettext("Show QR Code") %>'
    >
    <i class="fa-solid fa-qrcode inner_icon"></i>
    </span>
</span>