<span
    class="overview-title-item-- add_icon_btns icons_btns"
    data-target="#qrModal"
    data-toggle="modal"
    >
    <span
        class="btn-qr-icon-- btn icons_btns text-secondary p-0 ml-2 cpyqr_outer_btn"
        data-toggle="tooltip"
        data-placement="top"
        title='<%= gettext("QR Code") %>'
        aria-label='<%= gettext("Show QR Code") %>'
    >
    <i class="fa-solid fa-qrcode"></i>
    </span>
</span>